service: qiita-lgtm-ranking

frameworkVersion: '2'

custom:
  prefix: ${self:service}-${self:provider.stage}
  schedule:
    enabled:
      dev: false
      prod: true

provider:
  name: aws
  region: us-east-1
  profile: default
  runtime: go1.x
  lambdaHashingVersion: 20201221
  memorySize: 256
  timeout: 900
  stage: ${opt:stage, "dev"}
  environment:
    QIITA_ACCESS_TOKEN: ${file(./secret.yml):qiitaAccessToken}

package:
  patterns:
    - ./build/**

functions:
  updateWeekly:
    handler: build/updateWeekly
    events:
      - schedule:
          name: ${self:custom.prefix}-weekly
          rate: cron(0 0,12 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeekly/input.${self:provider.stage}.json)}

  updateWeeklyByTag:
    handler: build/updateWeeklyByTag
    events:
      # AWS
      - schedule:
          name: ${self:custom.prefix}-weekly-aws
          rate: cron(0 0,6,12,18 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/aws.${self:provider.stage}.json)}

      # Android
      - schedule:
          name: ${self:custom.prefix}-weekly-android
          rate: cron(0 1,7,13,19 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/android.${self:provider.stage}.json)}

      # Docker
      - schedule:
          name: ${self:custom.prefix}-weekly-docker
          rate: cron(0 2,8,14,20 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/docker.${self:provider.stage}.json)}

      # Go
      - schedule:
          name: ${self:custom.prefix}-weekly-go
          rate: cron(0 3,9,15,21 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/go.${self:provider.stage}.json)}

      # Git
      - schedule:
          name: ${self:custom.prefix}-weekly-git
          rate: cron(0 4,10,16,22 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/git.${self:provider.stage}.json)}

      # iOS
      - schedule:
          name: ${self:custom.prefix}-weekly-ios
          rate: cron(0 5,11,17,23 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/ios.${self:provider.stage}.json)}

      # Java
      - schedule:
          name: ${self:custom.prefix}-weekly-java
          rate: cron(0 0,6,12,18 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/java.${self:provider.stage}.json)}

      # JavaScript
      - schedule:
          name: ${self:custom.prefix}-weekly-javascript
          rate: cron(0 1,7,13,19 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/javascript.${self:provider.stage}.json)}

      # Linux
      - schedule:
          name: ${self:custom.prefix}-weekly-linux
          rate: cron(0 2,8,14,20 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/linux.${self:provider.stage}.json)}

      # Node.js
      - schedule:
          name: ${self:custom.prefix}-weekly-nodejs
          rate: cron(0 3,9,15,21 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/nodejs.${self:provider.stage}.json)}

      # PHP
      - schedule:
          name: ${self:custom.prefix}-weekly-php
          rate: cron(0 4,10,16,22 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/php.${self:provider.stage}.json)}

      # Python
      - schedule:
          name: ${self:custom.prefix}-weekly-python
          rate: cron(0 5,11,17,23 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/python.${self:provider.stage}.json)}

      # Rails
      - schedule:
          name: ${self:custom.prefix}-weekly-rails
          rate: cron(0 0,6,12,18 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/rails.${self:provider.stage}.json)}

      # React
      - schedule:
          name: ${self:custom.prefix}-weekly-react
          rate: cron(0 1,7,13,19 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/react.${self:provider.stage}.json)}

      # Ruby
      - schedule:
          name: ${self:custom.prefix}-weekly-ruby
          rate: cron(0 2,8,14,20 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/ruby.${self:provider.stage}.json)}

      # Swift
      - schedule:
          name: ${self:custom.prefix}-weekly-swift
          rate: cron(0 3,9,15,21 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/swift.${self:provider.stage}.json)}

      # TypeScript
      - schedule:
          name: ${self:custom.prefix}-weekly-typescript
          rate: cron(0 4,10,16,22 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/typescript.${self:provider.stage}.json)}

      # Vim
      - schedule:
          name: ${self:custom.prefix}-weekly-vim
          rate: cron(0 5,11,17,23 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/vim.${self:provider.stage}.json)}

      # Vue.js
      - schedule:
          name: ${self:custom.prefix}-weekly-vuejs
          rate: cron(0 0,6,12,18 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/vuejs.${self:provider.stage}.json)}

      # 初心者
      - schedule:
          name: ${self:custom.prefix}-weekly-beginner
          rate: cron(0 1,7,13,19 * * ? *)
          enabled: ${self:custom.schedule.enabled.${self:provider.stage}}
          input: ${file(./events/updateWeeklyByTag/beginner.${self:provider.stage}.json)}
